<%= render "shared/merchant_navbar" %>

<div class="bulk_discount_edit_form">
  <%= form_with url: merchant_bulk_discount_path(@merchant.id, @bulk_discount.id), method: :patch, data: { turbo: false }, local: true do |f| %>
    <%= f.label :name, "Bulk Discount Name:"  %>
    <%= f.text_field :name, value: @bulk_discount.name %>

    <%= f.label :percentage, "Percentage Discount:" %>
    <%= f.number_field :percentage, value: @bulk_discount.percentage %>

    <%= f.label :quantity_threshold, "Quantity Threshold:" %>
    <%= f.number_field :quantity_threshold, value: @bulk_discount.quantity_threshold %>

    <%= f.submit "Submit" %>
  <% end %>
</div>