<%= render "shared/merchant_navbar"%>

<div class="invoice-id"
  <h1>Invoice <%= "#{@invoice.id}" %></h1>
</div>

<div class="invoice-info">
<%= "Status: #{@invoice.status}" %>
<br>
<%= "Created on: #{@invoice.format_date}" %>
<br>
<div class="total-revenue">
  <%= "Total Revenue: #{@invoice.total_revenue}" %>
</div>
<%= "Customer: #{@invoice.customer.first_name} #{@invoice.customer.last_name}" %>
</div>

<div class="invoice-items">
  <h2> Items on this Invoice </h2>
    <% @invoice.invoice_items.each do |invoice_item| %>
      <ul>
      <li><%= "#{invoice_item.item.name} - Quantity: #{invoice_item.quantity} - Price: #{number_to_currency(invoice_item.price)} - Total: #{number_to_currency(invoice_item.total_cost)} Status: #{invoice_item.status}" %></li>
      </ul>
      <div class="invoice-status">
        <%= form_with url: merchant_invoice_path(@merchant, @invoice), method: :patch, data: { turbo: false } do |f| %>
            <%= f.label :status, "Status:" %>
            <%= f.select :status, ["in progress", "completed", "cancelled"], selected: @invoice.status %>
            <%= f.submit "Update Invoice Status" %>
        <% end %>
      </div>
    <% end %>
</div>

