<%= render "shared/merchant_navbar" %>

<div class="invoice-container">
  <div class="invoice-header">
    <h1>Invoice <%= @invoice.id %></h1>
  </div>

  <div class="revenues">
    <p><strong>Total Revenue:</strong> <%= number_to_currency(@invoice.total_revenue / 100.0) %></p>
    <p><strong>Total Discounted Revenue:</strong> <%= number_to_currency(@total_discounted_revenue_for_merchant / 100.0) %></p>
  </div>

  <div class="invoice-info">
    <p><strong>Status:</strong> <%= @invoice.status %></p>
    <p><strong>Created on:</strong> <%= @invoice.format_date %></p>
    <p><strong>Customer:</strong> <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
  </div>

  <div class="invoice-items">
    <h2>Items on this Invoice</h2>
    <% @invoice.invoice_items.each do |invoice_item| %>
      <ul class="invoice-item-list">
        <li>
          <%= "#{invoice_item.item.name} - Quantity: #{invoice_item.quantity} - Price: #{number_to_currency(invoice_item.price)} - Total: #{number_to_currency(invoice_item.total_cost)} - Status: #{invoice_item.status}" %>
          <% if invoice_item.applied_discount %>
            <div class="discount-info-<%= invoice_item.id %>">
              <%= link_to "#{invoice_item.applied_discount.percentage}% Discount Applied", merchant_bulk_discount_path(@merchant, invoice_item.applied_discount.id) %>
            </div>
          <% end %>

          <div class="invoice-status">
            <%= form_with url: merchant_invoice_item_path(@merchant, invoice_item), method: :patch, local: true do |f| %>
              <%= f.label :status, "Status:" %>
              <%= f.select :status, ["pending", "packaged", "shipped"], selected: invoice_item.status %>
              <%= f.submit "Update Item Status" %>
            <% end %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>

  <%= flash[:notice] %>
</div>