<%= render "shared/admin_navbar"%>

<div id="invoice-info">
  <div class="invoice-id">
    <h1>Invoice #<%= @invoice.id %></h1>
  </div>

  <div class="row">
    <div class="column">
      <%= form_with url: admin_invoice_path(@invoice), method: :patch, data: { turbo: false } do |f| %>
        <%= f.label :status, "Status:" %>
        <%= f.select :status, ["in progress", "completed", "cancelled"], selected: @invoice.status %>
        <%= f.submit "Update Invoice Status" %>
      <% end %>

      <p>Status: <%= @invoice.status %></p>
      <p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
      <div id="total-revenue">
        <p>Total Revenue: <%= number_to_currency(@total_revenue) %></p>
      </div>
      <p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
    </div>
  </div>
    
  <div class="column">
    <h2>Invoice Items</h2>
    <div id="invoice-items">
    <% @invoice_items.each do |invoice_item| %>
      <div class="invoice_item">
        <p>Invoice Item: <%= invoice_item.item.name %></p>
        <p>Quantity: <%= invoice_item.quantity %></p>
        <p>Price: <%= number_to_currency(invoice_item.unit_price) %></p>
        <p>Status: <%= invoice_item.status %></p>
      </div>
      <% end %>
    </div>
</div>

<%= link_to "Back to Invoices", admin_invoices_path %>
