<h1>Items</h1>

<div class="enabled-items">
  <h2> Enabled Items </h2>
    <% @enabled_items.each do |item| %>
      <%= link_to item.name, merchant_item_path(@merchant, item) %>
        <br>
      <%= item.status %>
      <%= button_to "Disable", merchant_item_path(@merchant, item), method: :patch, params: { status: "disabled" } %>
        <br>
    <% end %>
</div>

<div class="disabled-items">
  <h2> Disabled Items </h2>
    <% @disabled_items.each do |item| %>
      <%= link_to item.name, merchant_item_path(@merchant, item) %>
        <br>
      <%= item.status %>
      <%= button_to "Enable", merchant_item_path(@merchant, item), method: :patch, params: { status: "enabled" } %>
        <br>
    <% end %>
</div>
